@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font-text: 'Sriracha', cursive;
    --font-title: 'Passion One', cursive;
}

* {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    letter-spacing: .1rem;
    box-sizing: border-box;
}

header,footer {
    color: #fff;
    text-align: center;
    padding-block: 2rem;
    background-color: black;
}

h1 {
    font-size: 3rem;
}

h2 {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
}

h1, h2, a {
    font-family: var(--font-title);
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover{
    filter: grayscale(.5);
}

h2 span {
    font-weight: bolder;
}

section {
    margin: auto;
    display: flex;
    align-items: left;
    flex-direction: column;
    width: min(1300px,100%);
}

#second {
    background: url('../_img/background001.jpg') no-repeat fixed right;
    background-size: cover;
}

#fifth {
    background: url('../_img/background002.jpg') no-repeat fixed;
    background-size: cover;

}

#second p, #fifth p {
    color: white;
    background-color: rgba(0, 0, 0, 0.42);

}

div {
    padding: 2rem;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

p {
    font-size: 1.2rem;
    padding: 2rem 1rem;
    height: fit-content;
    text-align: justify;
    width: min(30rem, 100%);
    font-family: var(--font-text);
}